body {
	margin: 0;
	background: beige;
	header {
		height: 150px;
		background: orange;
		margin-bottom: 50px;
	}
	.content {
		width: 960px;
		text-align: center;
		margin: 0 auto;
		h1 {
			margin-bottom: 50px;
		}
		.features {
			border: 1px solid red;
			margin-bottom: 40px;
			.feat {
				width: 48%;
				height: 155px;
				border: 1px solid green;
				box-sizing: border-box;
				display: inline-block;
				float: left;
				margin-left: 1.5%;
				h3 {
					text-decoration: underline;
				}
			}
		}
	}
}
.clearfix {
	clear: both;
}