body {
	margin: 0;
	background: beige;
	header {
		height: 150px;
		background: orange;
		margin-bottom: 50px;
		box-sizing: border-box;
		img {
			height: 120px;
			margin-top: 15px;
			margin-left: 50px;
		}
	}
	.content {
		width: 960px;
		text-align: center;
		margin: 0 auto;
		h1 {
			margin-bottom: 50px;
		}
		.unlog {
			font-size: 18px;
			margin-bottom: 30px;
			display: none;
		}
		.features {
			margin-bottom: 40px;
			.feat {
				width: 48%;
				height: 230px;
				box-sizing: border-box;
				display: inline-block;
				float: left;
				margin-left: 1.5%;
				h3 {
					text-decoration: underline;
				}
				img {
					background: orange;
					border-radius: 50%;
					padding: 5px;
				}
			}
		}
		input:not([type="submit"]) {
			font-size: 20px;
			margin-bottom: 20px;
			width: 500px;
			text-align: center;
			background: none;
			border: none;
			border-bottom: 1px solid orange;
			transition-duration: 0.4s;
			padding: 4px 0;
			outline: none;
			&:focus {
				box-shadow: inset 0 -4px 0 0 orange;
			}
		}
		input[type="submit"] {
			border: none;
			color: white;
			background: orange;
			font-size: 20px;
			padding: 5px 15px;
			margin-bottom: 40px;
			&:disabled {
				background: grey;
			}
		}
		textarea {
			font-size: 20px;
			margin-bottom: 20px;
			width: 500px;
			height: 250px;
			resize: none;
			border: 1px solid orange;
			transition-duration: 0.4s;
			background: none;
			box-sizing: border-box;
			outline: none;
			&:focus {
				border-bottom: 6px solid orange;
				border-right: 6px solid orange;
			}
		}
		.restoring {
			margin-top: -30px;
			font-size: 18px;
			font-weight: bold;
			text-decoration: underline;
		}
		.unpass {
			display: none;
			font-size: 18px;
			font-weight: bold;
			color: red;
			margin-bottom: 10px;
		}
		input[type="checkbox"] {
			display: none;
		}
		label {
			font-size: 20px;
			border: 2px solid orange;
			color: orange;
			margin-bottom: 20px;
		}
		input:checked + label {
			background: orange;
			color: white;
		}
		.name_check, .mail_check {
			display: none;
			font-size: 18px;
			font-weight: bold;
			color: red;
		}
		.help_list {
			font-size: 24px;
			font-weight: bold;
			text-align: left;
			margin-bottom: 15px;
			img {
				width: 40px;
				padding: 10px;
				border-radius: 50%;
				background: orange;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}
	footer {
		height: 50px;
		margin-top: 20px;
		position: relative;
		.footer_content {
			width: 100%;
			height: 50px;
			background: orange;
			position: absolute;
			bottom: 0;
			text-align: right;
			box-sizing: border-box;
			padding-right: 20px;
			line-height: 50px;
		}
	}
	.help_sect {
		.quest {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.quest + p {
			margin-top: 0;
			margin-bottom: 20px;
		}
		img {
			border: 2px solid orange;
			text-align: center;
			margin: 15px 0;
		}
		p {
			text-align: left;
		}
		a {
			text-decoration: underline;
		}
	}
}
a {
	color: inherit;
	text-decoration: inherit;
}
.clearfix {
	clear: both;
}