extends ../help_layout

block help_content
	h1 Авторизация в блоге
	p Для того, чтобы зайти на свой блог не просто как наблюдатель, а как его хозяин, необходимо выполнить вход на самом Diege.ru. Войти в блог непосредственно через него невозможно! Для того, чтобы выполнить вход, перейдите на 
		a(href="/login") diege.ru/login 
		| или главную страницу и введите вашу почту и пароль в соответствующем окне:
	img(src="/source/help_img/1.png", alt="1")
	p Обратите внимание! Вводить необходимо именно адрес электронной почты, а не имя блога! Это сделано с целью защиты от мошенников.
	p Если вы ввели верную почту и пароль, вас автоматически перенаправит на ваш блог, только теперь уже с правами администратора.
	p При желании, вы можете активировать функцию 
		b Запомнить меня
		| , которая позволит вам не проходить процедуру входа каждый раз.