extends ../help_layout

block help_content
	h1 Создание блога
	p Создать блог на Diege легко и просто! Регистрация займёт у вас не более четырёх минут, зато в результате вы получите в своё распоряжение полноценный блог с огромными возможностями.
	p Для начала регистрации вам необходимо перейти по адресу 
		a(href="/sign") diege.ru/sign 
		| либо найти на главной странице форму регистрации. Там находятся все три поля, которые вам необходимо заполнить.
	img(src="/source/help_img/9.png", alt="9")
	p В поле 
		b Имя блога 
		| введите имя, под которым будет известен ваш блог. После регистрации он будет доступен по адресу 
		b ваше_имя.diege.ru
		| . Вы можете использовать латинские буквы и цифры, а длинной имя не должно превышать два десятка символов. В следующее необходимо ввести ваш действующий адрес электронной почты. На него придёт подтверждение регистрации, поэтому будьте внимательны. И наконец, в последнее поле нужно ввести придуманный вами пароль. Чем он длиннее, тем надёжнее будет защищён ваш блог. Если введённое вами имя или электронная почта уже используются, то вы получите уведомление о необходимости изменить эти параметры. Наконец, после правильного заполнения всех полей кликните по кнопке 
		b Создать
		| .
	p Если все поля заполнены верно, то вы получите сообщение о том, что на вашу почту выслано письмо с подтверждением. Письмо должно прийти в ближайшие минуты. 
	img(src="/source/help_img/10.png", alt="10")
	p После получения письма перейдите по содержащейся в нём ссылке. Если вы всё сделали верно, то вы получите сообщение о создании блога. После этого перейдите на 
		a(href="/login") diege.ru/login 
		| или найдите аналогичную форму на главной странице, введите туда вашу почту и пароль, и вас автоматически направит на ваш блог!