extends ../help_layout

block help_content
	h1 Управление внешним видом
	p Одна из главных особенностей Diege блогов - это простота работы с дизайном и богатство возможностей. Работать с внешним видом вашего блога легко и приятно! Вы можете настроить его вид так, как как пожелаете, сделать блог совершенно индивидуальным и неповторимым. Но давайте перейдём от слов к делу. Для внесения изменений во внешний вид вам нужно кликнуть на кнопку
		b Настройки 
		| у одного из краёв ленты.
	img(src="/source/help_img/2.png", alt="2")
	p После этого, в появившемся меню необходимо выбрать кнопку 
		b Настройки внешнего вида
		| . После этого вы попадёте в меню настройки внешнего вида. Здесь вы можете настроить все части вашего блога.
	p 