extends ../help_layout

block help_content
	h1 Управление внешним видом
	p Одна из главных особенностей Diege блогов - это простота работы с дизайном и богатство возможностей. Работать с внешним видом вашего блога легко и приятно! Вы можете настроить его вид так, как как пожелаете, сделать блог совершенно индивидуальным и неповторимым. Но давайте перейдём от слов к делу. Для внесения изменений во внешний вид вам нужно кликнуть на кнопку 
		b Настройки 
		| у одного из краёв ленты.
	img(src="/source/help_img/2.png", alt="2")
	p После этого, в появившемся меню необходимо выбрать кнопку 
		b Настройки внешнего вида
		| . После этого вы попадёте в меню настройки внешнего вида. Здесь вы можете настроить все части вашего блога.
	p Давайте разберём по очереди все возможности по настройке внешнего вида.
	p Прежде всего, вы можете настроить текст, расположение и цвет двух основных заголовков в шапке блога. Эти заголовки - первое, что видит читатель, попадая на ваш блог. Постарайтесь сделать их запоминающимися. Обычно в основном заголовке пишут имя автора или название блога, а во втором - цитату или фразу, которая лучше всего отражает информацию в блоге. Постарайтесь не делать загоовки слишком длинными.
	p Дальше идёт настройка ленты. Вы можете сделать её как однотонной, так и градиентной - во втором случае вам понадобится выбрать два цвета, между которыми будет осуществлён плавный переход. При выборе трёхцветной ленты переход будет также осуществляться между двумя цветами, по системе первый-второй-первый. Тут же вы можете выбрать цвет ссылок на ленте (о них мы поговорим позже).
	p После этого идёт настройка панели. Она помогает читателям ориентироваться в вашем блоге, видеть самые свежие сообщения, все используемые рубрики, а также распределения сообщений по датам. Панели отведена отдельная статья, где вы можете подробней прочитать про неё. Отметим лишь, что вы можете выбрать расположение панели - слева или справа, либо же полностью отключить её.
	p Следующим идёт настройка главного блока. Главный блок - это то место, где располагается вся информация и которое выделяется на фоне изображения на заднем плане. Вы можете выбрать цвет главного блока и уровень его прозрачности. Здесь же расположена настройка внешнего вида постов. Вы можете выбрать цвет заголовков и основного текста. Постарайтесь сделать эти цвета как можно более контрастными относительно цвета основного блока.
	p Дальше вы можете увидеть кнопку перехода в настройки фона. Фон - это фоновое изображение, которое вы можете видеть за главным блоком. По умолчанию у вас есть уже десять фоновых изображений на выбор! Выбирайте из них, а если ни одно не пришлось вам по душе - загрузите своё. Для этого нужно выбрать требуемую фотографию на компьютере, после чего кликнуть по кнопке 
		b Загрузить
		| . Также, вы можете выбрать расположения изображения относительно экрана - растянуть или замостить. Растягивать лучше всего широкоформатные изображения, а замостить фон можно небольшими картинками. После того, как определитесь с фоном, кликните на кнопку 
		b Сохранить
		| .
	p Но вернёмся к остальным настройкам. После фонового изображения следует принять решение о разрешении или запрете комментирвоания записей. Если комментирование разрешено, то любой сможет оставить своё мнение под каждым вашим постом. Те, кто авторизирован в системе Diege, будут оставлять комментарии со ссылкой на свой блог. Вы же, как хозяин блога, сможете удалять любые комментарии.
	p И последним идёт настройка кнопок, используемых в вашем блоге. Здесь вы можете указать не только цвет фона кнопок и текста на них, но и особенности: 
		b Объёмность 
		| и 
		b Плавность
		| . Объёмные кнопки имеют на себе блики, а у плавных закруглены углы. Выбирайте на свой вкус.
	p После того, как вы измените нужные настройки, кликните на кнопку 
		b Сохранить 
		| и новый дизайн немедленно будет установлен на ваш блог. Вы можете ничего не менять и оставить все настройки в изначальном состоянии, а можете придать вашему блогу настоящую неповторимость!