extends ../help_layout

block help_content
	h1 Часто задаваемые вопросы
	p.quest У меня пропал какой то элемент в блоге, как будто у него отсутствует фоновый цвет! Как решить?
	p Для этого нужно зайти в Настройки внешнего вида и заново выставить цвет для этого элемента. Ошибка известна и в скором времени будет устранена.
	p.quest Можно ли писать в блоге исключительно для себя, не давая другим видеть мой блог?
	p Да. Для этого сохраняйте все ваши посты в пул. Функционально всё останется таким же, но никто, кроме владельца блога, не сможет увидеть эти посты.
	p.quest Недоброжелатели устроили "набег" на мой блог и теперь там много бессмысленных комментариев. Что делать?
	p Вы можете самостоятельно удалить все ненужные комментарии, либо полностью закрыть возможность комментирования в настройках.
	p.quest Могу ли я как-нибудь подтвердить своё авторство при комментировании чужого блога?
	p Да, при авторизации в системе и написании комментария на чужом блоге в системе Diege в качестве автора будет указано название вашего блога и ссылка на него. Никто не сможет его подделать.
	p.quest Я забыл пароль от блога, как можно его восстановить?
	p Воспользуйтесь 
		a(href="/restoring") системой восстановления доступа
		| .
	p.quest Я хочу изменить свой пароль! Как это сделать?
	p Для этого воспользуйтесь 
		a(href="/pass_change") системой изменения пароля
		| .
	p.quest Нужно ли мне платить за свой блог или за какие-либо его части?
	p Нет, проект Diege 
		b ПОЛНОСТЬЮ 
		| бесплатен. Вам не нужно платить ни в какой форме.
	p.quest На чём написан проект?
	p Diege целиком создан на Node.js. Никакие другие языки не использовались.
	p.quest Могу ли я скачать исходный код и установить себе на сервер?
	p Да, такая возможность скоро будет реализована. Вы сможете скачать себе весь код блога и запустить его на своём сервере. Для этого потребуется Node.js и MySQL/MariaDB.
	p.quest Я хочу перенести свой блог на собственный домен, это реализуемо?
	p Да. В скором времени такая возможность появится на сайте, а пока вы можете обратиться в 
		a(href="/support") поддержку 
		| для индивидуального решения вопроса.