extends ../help_layout

block help_content
	h1 Управление ссылками на ленте
	p Как правило, любой блог содержит огромное количество постов, но некоторые из них особенно важны. Если вы хотите, чтобы читатель, зайдя на ваш блог, первым делом прочёл один или несколько самых важных постов, то лучше всего разместить ссылку на них на ленте.
	img(src="/source/help_img/2.png", alt="2")
	p Обычно, в прикреплённых постах размещают информацию о себе, контакты, своё мнение по ключевым вопросам и прочее. Вы можете закрепить в ленте любой опубликованный пост (кроме постов из пула). Для того, чтобы сделать это, кликните на кнопке 
		b Настройки 
		| в углу ленты и в появившемся меню выберите 
		b Настройка ссылок в ленте
		| . Здесь вы увидите интерфейс создания ссылок.
	img(src="/source/help_img/6.png", alt="6")
	p Всё, что нужно - ввести имя ссылки (то, что будет отображено на ленте) и выбрать пост из списка ниже. Обратите внимание! Название ссылки на ленте и название поста могут различаться.
	p После того, как вы введёте имя и выберите нужный пост, кликните на кнопке 
		b Создать
		| . Ссылка будет помещена на ленту немедленно. Список всех ссылок вы можете увидеть выше.
	img(src="/source/help_img/7.png", alt="7")
	p Здесь отображается имя ссылки и название статьи, на которую она ведёт. Теперь достаточно кликнуть на нужное название на ленте, и вы мгновенно попадёте в нужный пост! Чтобы удалить ссылку, кликните на одноимённой кнопке рядом со ссылкой. Помните, что максимальное число разрешённых ссылок на ленте - три штуки! Используйте их с умом.