extends ../help_layout

block help_content
	h1 Управление панелью
	p Для любого читателя вашего блога панель станет одним из основных инструментов навигации. На ней все ваши посты разбиты на удобные категории, что позволяет найти именно то, что вам нужно. Давайте взглянем на пример панели.
	img(src="/source/help_img/8.png", alt="8")
	p Это внешний вид панели по умолчанию. Если вы не вносили никаких изменений, то панель расположена справа от активной области. Но давайте подробнее разберёмся, как работают различные части панели.
	p Три части составляют собой панель: 
		b Новое, Рубрики 
		| и 
		b Архив
		| . В настройках вы можете отключить любые ненужные части. В 
		b Новом 
		| перечислены последние десять опубликованных вами постов. Вы можете быстро перейти на любой из них, выбрав его на панели. В 
		b Рубриках 
		| вы можете наблюдать полный список рубрик, который вы использовали. Стоит вам написать пост с полностью новой рубрикой, как она тут же появится в этом списке. Кликнув по названию рубрики, вы сможете просмотреть все посты, относящиеся к ней. В последней части, в 
		b Архиве
		| , все ваши посты рассортированы по дате публикации - месяцу и году. Кликнув на месяц или год можно просмотреть все посты за тот период.
	p Но давайте вернёмся к управлению внешним видом панели. Для этого необходимо перейти по привычной кнопке 
		b Настройки 
		| и выбрать там 
		b Настройки внешнего вида
		| . Третий сверху блок - 
		b Управление панелью
		| . Он то нам и нужен.
	p Первое, что есть в этом блоке - это включение/отключение панели. Да, если вы считаете, что в панели нет необходимости, вы можете полностью убрать её. За счёт этого освободится больше пространства в блоге, но навигация станет весьма неудобной. Если панель включена, то будет отображаться блок с подробными её настройками. Прежде всего, вы можете выбрать положение панели - слева или справа. За этим следует настройка цветов. Вы можете выбрать цвета текста на панели, а также цвет фона заголовков и пунктов. За этим следует включение/отключение каждой из трёх частей. Вы можете выбрать только те части, которые посчитаете нужным оставить.
	p Панель - удобнейший инструмент навигации. Настроив его под свой блог вы облегчите навигацию себе и своим читателям.