extends ../help_layout

block help_content
	h1 Управление пулом
	p Вам не обязательно публиковать ваш пост сразу после того, как он был написан. Вы можете сохранить его в пул и опубликовать позже, в любой момент, когда вам этого захочется! Делается это просто. Сначала, как обычно, вам необходимо перейти по кнопке 
		b Создать пост 
		| и набрать его, прикрепив при необходимости изображения, а также введя заголовок и рубрику. После того, как пост набран и готов к отправке, нажмите 
		b Сохранить в пул
		| .
	img(src="/source/help_img/4.png", alt="4")
	p После этого, пост будет целиком сохранён в пул. Читатели вашего блога не смогут увидеть его. Для просмотра всех сохранённых в пул постов перейдите по одноимённой кнопке на одном из концов панели.
	img(src="/source/help_img/2.png", alt="2")
	p После перехода в пул вы увидите полный список сохранённых постов. Для того, чтобы совершить какие-либо операции с постом, нажмите 
		b Читать 
		| в углу нужного поста. Там вы увидите все необходимые кнопки.
	img(src="/source/help_img/5.png", alt="5")
	p Вы можете как удалить, так и опубликовать пост. Учтите, что при публикации дата поста будет указана как момент нажатия кнопки 
		b Опубликовать
		| , а не как момент сохранения поста в пул.