extends ../help_layout

block help_content
	h1 Создание постов
	p Создать новый пост в блоге просто! Для этого нажмите на кнопку 
		b Создать пост 
		| в левом или правом конце ленты (зависит от расположения панели).
	img(src="/source/help_img/2.png", alt="2")
	p Эта кнопка видна исключительно хозяину блога, и если у вас её нет - выполните вход.
	p После нажатия вас перенаправит на страницу, создания поста, где вам предстоит заполнить три поля - Заголовок, Рубрика и Текст поста.
	img(src="/source/help_img/3.png", alt="3")
	p Поле 
		b Рубрика 
		| не обязательно к заполнению и вы можете его пропустить. В этом случае, ваш пост автоматически будет отнесён к категории 
		b Без рубрики
		| . Заголовок и непосредственно текст поста нужно заполнить. 
	p Также, вы можете прикрепить к вашему посту изображения. Для этого необходимо нажать кнопку снизу, непосредственно под текстом поста. По мере загрузки изображений будут появляться новые кнопки. Всего вы можете прикрепить вплоть до трёх изображений. В тексте изображения будут отображены в виде фразы 
		b [ЗагруженноеИзображение1]
		| . Цифра на конце обозначает номер изображения. От того, как вы расположите эти фразы в тексте, зависит, как будет выглядеть пост в итоге.
	img(src="/source/help_img/4.png", alt="4")
	p После набора текста и, при необходимости, прикрепления к посту изображений, нажмите кнопку 
		b Отправить 
		| внизу. После этого пост будет мгновенно опубликован. Также, вы можете добавить пост в пул для того, чтобы опубликовать его позднее.