extends ../help_layout

block help_content
	h1 Установка блога на свой сервер
	p Внимание! Эта статья предназначена для тех, кто имеет хотя бы минимальные знания в системном администрировании. Если вы не относитесь к таким, то вряд ли вы получите какую-либо полезную информацию отсюда. 
		b Данная статья и код Diege Blog распространяется под лицензией MIT. Мы не несём никакой ответственности за результаты выполнения расположенной здесь инструкции.
	h2 Техническая сторона
	p Diege Blog написан целиком на Node.js и требует наличия СУБД MySQL с определёнными таблицами. Все необходимые пакеты перечислены в package.json блога.
	h3 Требуемое ПО
	ul
		li ОС: Любой Linux дистрибутив (тестировалось на Debian 8.1)
		li Node.js (тестировалось на версии 0.12.7)
		li MySQL (тестировалось на версии 5.5.44)
	h3 Требуемые npm пакеты
	ul
		li Express
		li Jade
		li Body-parser
		li Formidable
		li Cookie-parser
		li Easy-encryption
		li Random-token
		li Serve-favicon
	h3 Рекомендуемые npm пакеты
	ul
		li Forever
	h2 Установка и настройка
	i Примечание: в данном способе установки предполагается, что кроме Diege Blog никакие другие приложения не будут слушать 80 порт. Если планируется установка нескольких экземпляров Diege Blog или Diege Blog с приложением с похожим функционалом, то рекомендуется использовать nginx.
	ol
		li Перед установкой сразу определитесь с названием блога, логином и паролем.
		li Установите Node.js и npm.
		li Установите MySQL и выполните следующие команды для создания двух необходимых таблиц:
			pre.
				CREATE TABLE `%%имя%%_post` (
				  `id` int(11) NOT NULL AUTO_INCREMENT,
				  `name` text NOT NULL,
				  `text` longtext NOT NULL,
				  `date` text NOT NULL,
				  `imgs` text,
				  `rubric` text,
				  `comment` int(11) NOT NULL DEFAULT '0',
				  `pool` int(11) NOT NULL DEFAULT '0',
				  PRIMARY KEY (`id`)
				) ENGINE=InnoDB DEFAULT CHARSET=utf8;
			pre.
				CREATE TABLE `%%имя%%_comment` (
				  `id` int(11) NOT NULL AUTO_INCREMENT,
				  `article` int(11) NOT NULL,
				  `text` longtext NOT NULL,
				  `author_blog` int(11) NOT NULL,
				  `autor_name` varchar(45) DEFAULT NULL,
				  `date` int(11) DEFAULT NULL,
				  PRIMARY KEY (`id`)
				) ENGINE=InnoDB DEFAULT CHARSET=utf8;
			p Перед выполнением команд замените %%имя%% на название вашего блога. Допустим, если ваш блог называется `diege`, то таблицы будут носить имена `diege_post` и `diege_comment`.
		li После этого скачайте архив с <a href="https://github.com/Vladimir37/diege_blog/archive/master.zip">последней версией Diege Blog</a> (прямая ссылка на скачивание) и распакуйте его в любое удобное для вас место.
		li Переместитесь внутрь папки из распакованного архива и выполните команду <b>npm install</b>. Она автоматически установит все необходимые пакеты.
		li сталось лишь настроить сам блог. Перейдите в <b>diege_blog-master/blog</b> и откройте файл <b>db.json</b>. Это настройки подключения к базе данных. Вам достаточно изменить "node_db" на на установленный вами пароль от базы и "diege_main" на имя базы данных, в которой расположены созданные ранее таблицы.
		li Теперь откройте файл <b>specification.json</b> там же. Здесь нужно изменить "named" на имя вашего блога, которое упоминается в названии таблиц. Далее измените "log" на ваш логин, а "pass" на ваш пароль. В пароле рекомендуется использовать как цифры, так и буквы, не ограничиваясь только одним. И последнее, но крайне важное действие! Необходимо изменить ваш личный ключ доступа. Он является вашей гарантией защиты от взлома, а потому его ни в коем случае не рекомендуется оставлять по умолчанию. Замените "12345678" любым набором символов, однако чтобы избежать лишних нагрузок с шифровкой и расшифровкой ключа, но при этом сохранить надёжную защиту, рекомендуется использовать восемь любых чисел.
		li Готово! Теперь можете запускать блог! Это делается с помощью команды <b>node diege_blog.js</b>, либо, если вы ранее установили пакет Forever, то с помощью <b>forever start diege_blog.js</b>.
		li Для того, чтобы зайти на блог с правами администратора, перейдите по адресу <b><i>ваш 80 порт</i>/login</b>. После ввода логина и пароля вам будут предоставлены все полномочия хозяина блога. Подробнее про управление Diege Blog можно почитать <a href="http://diege.ru/help">здесь</a>.