extends layout

block content
	h1 Пользовательское соглашение
	section.agreement
		h3 1. Основные положения
		ol
			li Сервис Diege.ru (далее - Сервис) предоставляет пользователю, зарегистрировавшемуся на данном сайте и подтвердившему своё согласие с договором путём перехода по ссылке, отправленной на электронную почту (далее - Клиент) доступ к сервису, позволяющему публиковать текстовые сообщения (далее - Посты), изображения и комментарии к Постам.
			li Связь между Клиентом и Сервисом осуществляется через страницу 
				a(href="/support") Поддержки, 
				| расположенной по адресу 
				b http://diege.ru/support
				| .
			li При обращении в поддержку через вышеуказанную страницу Клиент обязан ввести в соответствующее поле свой действительный адрес эклектронной почты, иначе обращение считается недействительным.
			li Сервис обязуется предоставить клиенту ответ на действительный запрос в Поддержку в течении 30 (тридцати) рабочих дней, однако в исключительных случаях срок ответа не ограничивается.
		h3 2. Права и обязанности Клиента	
		ol
			li Клиент имеет право публиковать Посты с любой информацией, не нарушающей законодательство (см. следующий пункт).
			li В своих Постах, изображениях и комментариях на своей и чужой странице Клиент обязуется соблюдать действующее законодательство Российской Федерации, а также тех стран, гражданство которых имеет Клиент.
			li В случае, если информация, размещённая Клиентом противоречит законодательству Российской Федерации либо одной из стран, гражданство которых имеет Клиент, но разрешается законодательством Российской Федерации (в случае отстутствия запрета на подобного рода информацию) либо одной из стран, гражданство которых имеет Клиент, то Клиент считается нарушившим данное Пользовательское соглашение и к нему могут быть применены санкции со стороны Сервиса (см. Права и обязанности Сервиса).
			li При написании комментариев на своей или чужой странице Клиент обязуется не оскорблять других Клиентов и не устраивать так называемые "вайпы" - более трёх однотипных или различающихся комментариев, не несущих смысловой нагрузки с точки зрения Сервиса.
			li Клиент обязуется хранить свой пароль в тайне и не выдавать его другим лицам исключая случаи, когда это лицо принадлежит к правоохранительным органам. Также Клиент обязуется хранить в тайне и выдавать другим лицам исключая случаи, когда это лицо принадлежит к правоохранительным органам данные, необходимые для авторизации в почте, на которую зарегистрирован блог, так как в письмах, отправленных Сервисом может содержаться пароль.
			li Клиент обязуется сообщать о всех найденных нарушениях и ошибках в работе Сервиса в 
				a(href="/support") Поддержку 
				| .
			li Клиент соглашается с тем, что любые спорные моменты решаются на усмотрение Сервиса.
			li В случае несоблюдения Клиентом одного или нескольких пунктов данного Пользовательского соглашения он считается считается нарушившим данное Пользовательское соглашение и к нему могут быть применены санкции со стороны Сервиса (см. Права и обязанности Сервиса).
		h3 3. Права и обязанности Сервиса
		ol
			li В случае нарушения данного Пользовательского соглашения Сервис имеет право удалить как отдельные части размещённой Клиентом информации (Посты, изображения и комментарии), так и полностью прекратить предоставление услуг Клиенту.
			li Сервис имеет право без объяснения причин и уведомления Клиента удалять как отдельные части размещённой Клиентом информации (Посты, изображения и комментарии), так и полностью прекратить предоставление услуг Клиенту.