extends layout

block content
	a(href="/help")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Назад
	section.help_sect
		block help_content
	a(href="/help")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Назад