extends layout

block content
	h1 Помощь
	a(href="/help/create")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Создание блога
	a(href="/help/auth")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Авторизация в блоге
	a(href="/help/post")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Создание постов
	a(href="/help/design")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Управление внешним видом
	a(href="/help/links")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Управление ссылками на ленте
	a(href="/help/pool")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Управление пулом
	a(href="/help/panel")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Управление панелью
	a(href="/help/faq")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Часто задаваемые вопросы
	a(href="/help/server")
		article.help_list
			img(src="/source/img/pic5.png", alt="list")
			| Установка блога на свой сервер
	a(href="/support")
		article.help_list
			img(src="source/img/pic5.png", alt="list")
			| Обращение в Поддержку