doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="robots" content="all")
		meta(name="блог, создать блог, дневник, сайт, журнал, бесплатно, просто, дизайн" content="keywords")
		meta(name="Diege.ru - это лучший в мире сервис для создания и ведения блогов. Вы можете целиком настроить внешний вид вашего блога через удобный интерфейс!" content="description")
		title Diege
		link(rel="stylesheet/less" type="text/css" href="/source/style/main.less")
		script(src="/source/less.js")
		script(src="/source/jquery.js")
		script(src="/source/main.js")
		script(src="/source/style/jquery-ui.min.js")
		link(rel="stylesheet", href="/source/style/jquery-ui.min.css")
		link(rel="stylesheet", href="/source/style/jquery-ui.structure.min.css")
		link(rel="stylesheet", href="/source/style/jquery-ui.theme.min.css")
	body
		header
			a(href="/")
				img(src="/source/img/logo.png", alt="logo")
		section.content
			block content
		footer
			block footer