doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet/less" type="text/css" href="/source/style/main.less")
		script(src="/source/less.js")
		script(src="/source/jquery.js")
		script(src="/source/main.js")
		script(src="/source/style/jquery-ui.min.js")
		link(rel="stylesheet", href="/source/style/jquery-ui.min.css")
		link(rel="stylesheet", href="/source/style/jquery-ui.structure.min.css")
		link(rel="stylesheet", href="/source/style/jquery-ui.theme.min.css")
	body
		header
			img(src="/source/img/logo.png", alt="logo")
		section.content
			block content